<div class="content">
    <div class="about-section">
<div class="container">
    <div class="about-header">
        <h3>about</h3>
        <div class="about-imag">
        <img style="width: 300px;
        height: 300px;" src="assets/images/logoUBSM2.png" alt=""/>
        </div>
        <div class="about-text">
            <p align="justify">With the development of the Internet, access to thousands of information and comments in
                different languages became widespread. Unfortunately, even well educated people do not speak sufficiently in more
                than two or three foreign languages, while most know only one, and this significantly limits the access to this
                information. Therefore, there is a new challenge: how a user can access the information, sentiments, opinions and
                feelings in foreign languages? <br><br> Due to cultural and political differences, it is very often interesting
                and necessary to compare the information in its mother tongue to the information provided on the international and
                common subjects in a foreign language.
          
                This project proposes an automated system for accessing bilingual information that will help in the understanding
                of social media content transmitted in two languages with possible comparison to counterparts in their native
                language user. The proposed will consequently permit to have another side of story of an event.
          
                <br><br>We believe that the proposed project can have an immense and positive impact on the integration and
                awareness of society in social and cultural terms. First of all, the project will greatly minimize difficulties in
                the exchange of information regardless of language differences, which nowadays is extremely important. This will
                allow users to understand the comments, as well as indirectly the culture of other nations. At the scientific
                level the project concerns synergies and new research linking searching in social media, opinion exploration,
                summarizing and machine translation.</div>
        <div class="clearfix"></div>
        </div>

       
</div>
</div>