<body>
    <br><br>
<div class="works-section" id="work" id="work"></div>
    <div class="works-header">
        <h3 style="color: #ff8c00;">Participants List</h3>
    </div>

    <div class="mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Email</th>
                    <th> University</th>
                    <th> country </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> BOUZOUBAA Karim </td>
                    <td> bouzoubaa@emi.ac.ma </td>
                    <td> Mohammed V University in Rabat, Mohammadia School of Engineers</td>
                    <td> Morocco </td>
                </tr>
                <tr>
                    <td> Weiyi Meng </td>
                    <td> meng@binghamton.edu </td>
                    <td> Watson School of Engineering and Applied Science Binghamton University</td>
                    <td> USA </td>
                </tr>
                <tr>
                    <td> AMJAHDI Meriem </td>
                    <td> meriemamjahdi54@gmail.com </td>
                    <td> Hassan II University, Faculty of Sciences Ben M'sik</td>
                    <td> Morocco </td>
                </tr>
                <tr>
                    <td> MEKOUAR Soufiana </td>
                    <td> soufiana.mekouar@gmail.com </td>
                    <td> Mohammed V University in Rabat</td>
                    <td> Morocco </td>
                </tr>
                <tr>
                    <td> EL JIHAD Abdelhamid </td>
                    <td> jihad.hamid@gmail.com </td>
                    <td> Mohammed V University in Rabat, Institute for Studies and Research on Arabization</td>
                    <td> Morocco </td>
                </tr>
                <tr>
                    <td> TRAGHA Abderrahim </td>
                    <td> abderrahim.tragha@etu.univh2c.ma </td>
                    <td> Hassan II University, Faculty of Sciences Ben M'sik</td>
                    <td> Morocco </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>