<style>
	img {
		width: 160px;
		height: 90px;
		/*border: 1px solid black;*/
	}
</style>
<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Onepage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
</head>

<body>

	<div class="header" id="head">
		<div class="container">
			<div class="header-top">
				<div class="top-menu">
					<span class="menu"> </span>
					<ul>
						<nav class="cl-effect-5">

							<li><a routerLink="translate3" routerLinkActive="active" class="nav-link"><span
										data-hover="TRANSLATE">TRANSLATE</span></a></li>
							<li><a routerLink="participants2" routerLinkActive="active" class="nav-link"><span
										data-hover="PARTICIPANTS">PARTICIPANTS</span></a></li>
							<li><a routerLink="about2" routerLinkActive="active" class="nav-link"><span
										data-hover="ABOUT">ABOUT</span></a></li>
						</nav>
					</ul>
				</div>
			</div>
			<br><br><br><br><br><br>

			<h1 style="text-align: center;
								position: relative; color: #ff8c00;font-weight: 00;font-size: 3em;">Understanding Bilingual Social Media
				Information</h1>

			<br><br><br>

			<div style="width: 23%; float:left; margin: 1%;"><img src="assets/images/image.png" alt="" /></div>
			<div style="width: 30%; float:left; margin: 1%;"><img src="assets/images/image2.png" alt="" /></div>
			<div style="width: 23%; float:left; margin: 1%;"><img src="assets/images/image3.png" alt="" /></div>
			<div style="width: 10%; float:left; margin: 1%;"><img src="assets/images/image4.png" alt="" />
			</div>
		</div>

	</div>
	<router-outlet></router-outlet>

</body>
<p></p>
<div>
	<div class="mt-4">
		<footer class="footer">
			<div style="font-size: x-large; text-align: center;color: #ff8c00;">
				<br><br>
				<span >Understanding Bilingual Social Media Information</span>
			</div>
		</footer>
	</div>
</div>
<style>
	.footer {
		
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: url("assets/images/bg5.jpg") no-repeat center top;
	}
</style>